doctype html
html
	head
		title= pageTitle
		link(id="skin" rel='stylesheet', href='../../../../stylesheets/' + skin + '.css')
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway")
		body
			div(id= "bar")
				img(id= "bar" src="../../../../images/bar.png")
			a(href='/bright')
				div(id="skin1" style='../../../../stylesheets/bright.css')
			a(href='/dark')
				div(id="skin2" style='../../../../stylesheets/dark.css')
			div(id= "nav")
				a(href='/')
						p Home
				a(href='/posts/1')
						p Archive
				a(href='/posts/search')
						p Search
				a(href='/posts/new')
						p New Post
			div(id= "pages")
				- let n = 1;
					while n <= pages
						a(href='/posts/'+ n)
							p=n++
			block content 
		script(type="text/javascript" src="../../../../javascripts/jquery-3.3.1.min.js")
		script(type="text/javascript" src="../../../../javascripts/script.js")
