extends layout

block content
  div(id= "newPost")
    form(id= "newPostForm" method="POST" action="/posts/edit/" + post._id enctype="multipart/form-data")
      textarea(id= "newTitle" form="newPostForm" name="title" rows="1" cols="30")= post.title
      br
      textarea(id= "newLocation" form="newPostForm" name="location" rows="1" cols="20")= post.location
      br
      input(id="newImg" type="file", form="newPostForm", name="img")= post.img
      br
      textarea(id= "newText" form="newPostForm" name="text" rows="30" cols="50")= post.text
      br
      button(id= "checkInputBtn" type="button" onclick="checkInput()") Submit
      button(id= "submit" type="submit")
