extends layout

block content
  div(id= "home")
    h1(class= "home") Public Travel Blog
    p(class= "home") Share your favourite places here
  div(id= "display" images=images)
    div(id= "display1")
      img(id= "display1Img" src="#")
    div(id= "display2")
      img(id= "display2Img" src="#")
    div(id= "display3")
      img(id= "display3Img" src="#")
