extends layout

block content
  div(id= "search")
    h1(class= "search") Look up posts
    textarea(id= "searchTitle" name="title" rows="1" cols="30" onclick="clearArea('searchTitle')") Title
    textarea(id= "searchLocation" name="location" rows="1" cols="30" onclick="clearArea('searchLocation')") Location
    br
    button(id= "submitSearchButton" type="button" onclick="searchPost()") Submit
    br
    ul(class= "post")
      - let from = (postCount-1) - (5 * (pageNumber-1)) //from the last item
      - let to = from - 5; //display 4 more
      - for (let i = from; i > to; i--){ //iterating backwards on the data
          if(posts[i])
            li(class= "post")
              div(id= "postTitle")
                h1(class= "post" )= posts[i].title
                  a(href='/posts/edit/' + posts[i]._id)
                    button(id= "editPost" type="button") 
                  button(id= "deletePost" type="button" post-id=posts[i]._id) 
              if(posts[i].img)
                div(id= "postImg")
                  p Picture box HERE
              else
                p No picture HERE
              p(class= "post")= posts[i].text
              p(class= "postSeparator") ~
      - }
