body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  background-color: #CCCCCC;
}

/* TitleBar */
/************/
div#bar{
	width: 100%;
	height: 300px;
	float: right;
  border-bottom: 8px ridge;
  border-color: #992222;
}
img#bar{
  width: 100%;
  height: 300px;
}

/* SkinChange */
/**************/
div#skin1, div#skin2{
  z-index: -1;
	width: 1%;
	height: 170px;
	float: left;
  margin-top: 333px;
	background-color: #BBBBBB;
  position:absolute;
}
div#skin2{
    margin-top: 495px;
    background-color: #333333;
}
div#skin2:hover{
  	background-color: #333333;
}
div#skin1:hover{
  	background-color: #BBBBBB;
}
/* NavBar */
/**********/
div#nav{
  z-index: 2;
	width: 8%;
	height: 380px;
	float: left;
  margin-top: 15px;
  margin-left: 1%;
	background-color: #666666;
  overflow: hidden;
  border-style: solid;
  border-color: #555555;
  border-width: thin;
  border-radius: 15px 50px 15px 50px;
}
div#nav a{
   color: #EEEEEE;
   display: block;
   text-align: center;
   text-decoration: none;
   padding: 10px;
 }
div#nav a:hover { background-color: #AA0000; color: #000000; }
div#pages{
  width: 3%;
  height: auto;
  float: left;
  margin-top: 750px;
  margin-left: 3%;
  background-color: #777777;
  overflow: hidden;
  border-style: solid;
  border-color: #555555;
  border-width: thin;
  border-radius: 50px 15px 50px 15px;
  opacity: 0;
  position: fixed;
  transition: 1s;
}
div#pages a{
  color: #EEEEEE;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
div#pages a:hover { background-color: #AA0000; color: #000000; }
.sticky {
  position: fixed;
  top: 50px;
}

/* HomePage */
/************/
h1.home{
  color: #846D4B;
  font-size: 64px;
  font-style: italic;
  text-align: center;
}
p.home{
  color: #846D4B;
  font-size: 38px;
  font-style: italic;
  text-align: center;
}
div#home{
  width: 90%;
  height: 100%;
  float: right;
  background-color: #D8D5C7;
}
div#display{
  width: 88%;
  height: 400px;
  margin-top: 200px;
  margin-right: 1%;
  margin-left: 1%;
  float: right;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-width: 3px;
  border-color: #225555;
  background-color: #A5A398;
  box-shadow: -3px 0 10px 0px #223333, 3px 0 10px 0px #223333
}
div#display1, div#display2, div#display3{
  width: 540px;
  height: 400px;
  float: left;
  opacity: 0.7;
}
div#display2{
  float: right;
}
div#display3{
  position: relative;
  margin-left: 28px;
}
img#display1Img, img#display2Img, img#display3Img{
  height: 100%;
  width: 100%;
  repeat: no-repeat;
}

/* PostsPage */
/*************/
h1.post{
  color: #961B1B;
  font-size: 38px;
  margin-left: 250px;
}
ul.post{
  list-style-type: none;
}
li.post{
  margin-bottom: 100px;
}
p.post{
  color: #846D4B;
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}
p.postLocation{
  color: #961B1B;
  font-size: 28px;
}
p.postSeparator{
  font-size: 96px;
  color: #00CC00;
  opacity: 0.7;
}
button#editPost, button#deletePost{
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  opacity: 0.7;
}
button#editPost{
  background-image: url("../../images/edit.png");
  margin-left: 150px;
}
button#deletePost{
  background-image: url("../../images/delete.png");
  margin-left: 5px;
  margin-right: 15px;
}
.readyToDelete{

}
.pwInput{
  font-size: 24px;
  color: #961B1B;
  height: 1em;
  width: 8em;
  padding-left: 5px;
  text-align: center;
  overflow: hidden;
}
.cancelDelete{
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  height: 35px;
  width: 30px;
  margin-left: 5px;
  background-image: url("../../images/canceldelete.png");
  opacity: 0.8;
}
div#posts{
	width: 90%;
	height: 100%;
	float: right;
	background-color: #D8D5C7;
  text-align: center;
}
div#postImg{
  width: 640px;
  height: 480px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color: grey;
  display: inline-block;
}
div#postImg img{
  width: 100%;
  height: 100%;
  repeat: no-repeat;
}

/* NewPostPage */
/***************/
textarea{
  resize: none;
  background-color: transparent;
  outline: none;
  margin-left: 5%;
  display: inline-block;
  box-shadow: -3px 0 10px 0px #223333, 3px 0 10px 0px #223333;
  border-style: solid;
  border-width: thin;
  border-color: #225555;
  border-radius: 25px 10px 25px 10px;
}
textarea:focus{
  background-color: #222929;
}
textarea#newTitle{
  color: #961B1B;
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
textarea#newLocation{
  color: #961B1B;
  font-size: 32px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 15px;
}
textarea#newText{
  color: #846D4B;
  font-size: 24px;
  padding: 5px;
}
textarea#newImage{
  color: #846D4B;
  font-size: 20px;
  margin-bottom: 15px;
}
input#newImg{
  color: #AF9164;
  font-size: 18px;
  margin-bottom: 25px;
  margin-left: 60px;
  box-shadow: -3px 0 10px 0px #223333, 3px 0 10px 0px #223333;
  border-style: solid;
  border-width: thin;
  border-color: #225555;
  border-radius: 25px 10px 25px 10px;
}
button#checkInputBtn, button#submitSearchButton{
  margin-left: 5%;
  font-size: 24px;
  color: #EEEEEE;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #222627;
  border-style: solid;
  border-width: thin;
  border-color: #225555;
}
button#checkInputBtn:hover, button#submitSearchButton:hover{ background-color: #224444; }
button#submit{
  visibility: hidden;
}
h1.newPostAdded{
  font-size: 24px;
  text-align: center;
  color: #961B1B;
}
div#newPost, div#newPostAdded{
  width: 90%;
  height: 100%;
  float: right;
  background-color: #D8D5C7;
  text-align: center;
}
img#edit{
  width: 150px;
  height: 120px;
  repeat: no-repeat;
    box-shadow: -3px 0 10px 0px #223333, 3px 0 10px 0px #223333;
}

/* Search Page */
/***************/
h1.search{
  color: #846D4B;
  font-size: 38px;
  margin-left: 2%;
}
div#search{
  width: 90%;
  height: 100%;
  float: right;
  background-color: #D8D5C7;
  text-align: center;
}
textarea#searchTitle, textarea#searchLocation{
  color: #961B1B;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  margin-left: 2%;
}
textarea#searchLocation{
  margin-left: 50px;
}
button#submitSearchButton{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 2%;
}
