body {
	background-image: url("img/bg.jpg"); 
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
/* DIV ELEMENTS */
div#titleBar {
	height: 120px;
	width: 100%;
	background-image: url("img/titlebar.jpg");
	opacity: 0.65;
	border-bottom: 2px ridge;
}
div#menu {
	height: 28px;
	width: 80%;
	z-index: 1;
	position: relative;
	background-color: #2B2118;
	background-image: url("img/wood.jpg");
	border-radius: 0px 80px;
	margin-left: 9%;
	box-shadow: 0 5px 50px -7px #b35900, 0 -5px 15px -8px #2B2118, 10px 0 8px -5px #2B2118, -10px 0 8px -5px #2B2118;
	border-style: solid;
	border-width: 1px;
}
div#content {
	height: 100%;
	width: 70%;
	z-index: 0;
	position: relative;
	background-color: #AF9164;
	float: left;
	margin-left: 13%;
	opacity: 0;
	box-shadow: 10px 0 15px -5px #2B2118, -10px 0 15px -5px #2B2118;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	transition: .5s;
}
div#ads {
	height: 900px;
	width: 12%;
	background-color: #440022;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	border-style: solid;
	border-width: 2px;
	opacity: 0.6;
}
div#ad1, div#ad2 {
	height: 300px;
	background-color: #772222;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	margin-top: 100px;
}
/* NAV BAR */
ul {
	width: 80%;
	list-style-type: none;
	margin-left: 13%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	font-family: "Verdana";
	font-size: 22px;
}
li { float: left; padding-right: 10%; }
li a { color: #D3D6D7; display: block; text-align: center; text-decoration: none; }
li a:hover { color: #ffffff; }

/* IMAGES */
img#cipher {
	height: 350px;
	width: 350px;
	float: right;
	margin-top: 25px;
	margin-left: 50px;
}
img#substitution_cipher {
	height: 100px;
	width: 200px;
	margin-left: 3%;
	border-style: solid;
	border-width: 1px;
}
img#transposition_cipher {
	height: 100px;
	width: 200px;
	margin-left: 3%;
	border-style: solid;
	border-width: 1px;
}
img#rot13Cipher {
	height: 250px;
	width: 350px;
	float: right;
	margin-top: 25px;
	margin-left: 50px;
}

/* TEXT */
h1 { font-family: "Verdana"; font-size: 35px; }
h2 { font-family: "Verdana"; font-size: 25px; }
p { font-family: "Verdana"; font-size: 21px;
}

/* CIPHER PAGES */
div#key_area { margin-top: 15%; margin-bottom: 0px; }
div#input_area { margin-top: 1%; }
div#output_area { margin-top: 1%; }
textarea#key_keycipher { width: 50%; margin-left: 25%; }
textarea {
	width: 70%;
	background-color: transparent;
	border-style: groove;
	border-width: 2px;
	outline: none;
	text-align: center;
	font-family: "Verdana";
	font-size: 22px;
	margin-left: 15%;
	resize: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
textarea#deciphered_rot13, textarea#deciphered_transposition { margin-top: 15%; }
button {
	height: 36px;
	width: 20%;
	margin-top: 1%;
	font-family: "Verdana";
	font-size: 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
button#rot13_encode, button#transposition_encode, button#keycipher_encode { margin-left: 25%; }
button#rot13_decode, button#transposition_decode, button#keycipher_decode { margin-left: 10%; }
button:hover { color: #ff6600; }





















